:root {
  /* Greys */
  --color-battlefield: #1c1c1c;
  --color-destiny: #272727;
  --color-overwatch: #323232;
  --color-planetside: #7d7d7d;
  --color-halo: #ccc;

  /* Blues */
  --color-tron: #9ccef9;
}
