.ReactTable {
  border: none;
}

.ReactTable .rt-tbody .rt-td {
  padding: 1em;
  border-right: none;
  text-align: center;
}

.ReactTable .rt-thead .rt-th {
  padding: 1em;
  box-shadow: none;
  border-right: none;
}

.study-count {
  max-width: 110px;
}
