.ReactTable {
  border: none;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: 1px solid var(--color-destiny);
}

.ReactTable .rt-tbody .rt-td {
  padding: 1em;
  border-right: none;
  text-align: center;
}

.ReactTable .rt-thead .rt-th {
  padding: 1em;
  box-shadow: none;
  border-right: none;
}

.study-count {
  max-width: 110px;
}

.rt-resizable-header-content {
  color: var(--color-halo);
  font-weight: bold;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background-color: var(--color-bioshock);
}
