@import './css/colors.css';
@import './css/layout.css';
@import './css/text.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: var(--color-battlefield);
  color: var(--color-planetside);
}

.link-button {
  border: 1px solid var(--color-tron);
  border-radius: 5px;
  padding: 5px 30px;
  text-align: center;
  color: var(--color-halo);
  transition: 0.3s background-color, 0.3s color;
}

.link-button:hover {
  background-color: var(--color-tron);
  color: var(--color-battlefield);
}

a {
  text-decoration: none;
}
